.vscode/**
.vscode-test/**
src/**
test/**
out/**
samples/**
node_modules/**
*.md
!README.md
!CHANGELOG.md
*.pdf
*.html
*.docx
*.rtf
*.epub
*.xml
*.png
!icon.png
tempDir/**
*.vsix
.gitignore
.eslintrc*
tsconfig.json
esbuild.config.mjs
vsc-extension-quickstart.md
**/*.map
**/.DS_Store
